<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <style>
        body {
            background-color: #161616;
            color: #fff;
            font-family: 'Roboto Mono', monospace;
            font-size: 1.2rem;
            line-height: 1.5;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
            padding: 30px;
        }

        .form__input {
            background-color: #f1f1f1;
            border: none;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
            font-family: 'Roboto Mono', monospace;
            font-size: 1.2rem;
            margin-bottom: 20px;
            padding: 10px;
            width: 100%;
        }

        .form__button {
            background-color: #0077c2;
            border: none;
            border-radius: 5px;
            color: #fff;
            font-family: 'Roboto Mono', monospace;
            font-size: 1.2rem;
            padding: 10px 20px;
        }

        .form__button:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    </style>
</head>
<body>
<div class="container">
    <% if(key) { %>
        <form class="form" action="/authentication/set" method="post">
            <input class="form__input" type="hidden" name="key" value="<%= key %>">
            <input class="form__input" type="password" name="pass" placeholder="New Password">
            <button class="form__button" type="submit">Update Password</button>
        </form>
    <% } else { %>
        <div>Key not found.</div>
    <% } %>
</div>
</body>
</html>
